div{
  // background-color: cyan;
  height:400px;
  padding: 20px;
}
body{
  margin:0;
  background-color: snow;
}
h1{
  margin-top:0;
}

.top-container{
  background-color: cyan;
}

.middle-container{
  background-color: red;
}

.bottom-container{
  background-color: blue;
}
