div{
  // background-color: cyan;
  height:400px;
  padding: 20px;
}
body{
  margin:0;
  background-color: snow;
}

h1{
  padding-top: 100px;
}

h1, h3{
  margin-top:0;
  margin: 0 auto 0 auto;
  text-align: center;
}

img.lightning{
  display:flex;
  margin: 0 auto 0 auto;
}

.top-container{
  background-color: cyan;
}

.middle-container{
  background-color: red;
}

.bottom-container{
  background-color: blue;
}
